/* HEADER */

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.rb-header-top {
  height: 30px;
  background-color: black;
}

.rb-header-top img {
  height: 80%;
  width: 100px;
}

.rb-header-btm,
.rb-header-btm .navbar {
  background-color: white !important;
}



/* right side header custom */
.rb-no-style {
  list-style: none;
  text-decoration: none;
}

.rb-no-style .nav-link {
  color:black;
}

.rb-no-style .nav-link:hover {
  color:rgb(0, 112, 209) !important;
}

.rb-no-style img {
  width: 30px;
}

#rb-log-in-btn {
  border-radius: 1.25rem !important;
}

#rb-log-in-btn:hover {
  box-shadow: 0 0 0 2px rgb(137, 142, 148),
  inset 0 0 0 2px white;
}

/* /right side header custom */

/* /HEADER */


/* JUMBOTRON */

.jumbotron {
  height: 600px;
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron img {
  width: 200px
}


.rb-btn.red {
  color: white;
  background-color: rgb(205, 61, 15);
}



/* JUMBOTRON */

/* SECTION 1 */

#section-1 p:first-child {
  color:rgb(62, 148, 218); 
}

#section-1 h2 {
  color:black;
}

#section-1 p:last-child {
  color:rgb(111, 111, 111); 
}
.rb-card-border {
  border: 2px solid transparent;

}
.rb-card-border:hover {
  border: 2px solid rgb(0, 102, 202);
  border-radius: 10px;
  transition: 0.5;
}

.rb-lift-up {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.rb-lift-up:hover {
  top: -10px;
}


/* /SECTION 1 */


/* SECTION 2 */

.rb-btn.blu {
  color: white;
  background-color:rgb(45, 100, 230);
  width: fit-content;
}

.rb-border-bottom:hover {
  border-bottom: 3px solid rgb(0, 102, 202);
  transition: 0.5s ease-in;
  filter: opacity(1);
}


.rb-border-bottom {
  border-bottom: 3px solid transparent;
  filter: opacity(0.4);
}


/* /SECTION 2 */

/* SECTION 3 */

.rb-section-3 {
  height: 600px;
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.rb-section-3 img {
  width: 200px;
} 

/* /SECTION 3 */

/* SECTION 4 */

#rb-section-4 {
  background-color: rgb(31, 31, 31);
  color: white;
}

/* /SECTION 4 */

/* SECTION 5 */
.rb-section-5 h2 {
  color: black;
}

.rb-section-5 p {
  color: rgb(111, 111, 111);
}


/* /SECTION 5 */

/* SECTION 6 */

#section-6 {
  background-color: rgb(190, 188, 187);
}

#section-6 img:first-child {
  width: 50%;
}

#section-6 img:last-child {
 width: 100%;
}

.rb-btn.explore {
  color:rgb(33, 92, 230) ;
  background-color: rgb(217, 218, 220);
}
/* /SECTION 6 */

/* SECTION 7 */



/* /SECTION 7 */


/* SECTION 8 */

#section-8 {
  background-color: rgb(22, 28, 59);
}

#section-8 p {
  color: white;
}

#section-8 .rb-col-1-img {
  width: 50%;
  
}

.rb-col-2-img {
  width: 80%;
}

.rb-btn.explore-now {
  background-color: rgb(245, 245, 245);
  color:black;
}

/* /SECTION 8 */

footer {
  background-color: rgb(0, 67, 156);
}

footer .rb-ps-logo{
  width: 70px;
}

footer img:nth-of-type(2) {
  width: 20px;
}

footer .rb-sie-logo {
  width: 100px;
}