/* HEADER */

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.rb-header-top {
  height: 30px;
  background-color: black;
}

.rb-header-top img {
  height: 80%;
  width: 100px;
}

.rb-header-btm {
  background-color: white;
}

/* /HEADER */


/* JUMBOTRON */

.jumbotron {
  height: 600px;
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron img {
  width: 200px
}

/* JUMBOTRON */

/* SECTION 1 */

#section-1 p:first-child {
  color:rgb(62, 148, 218); 
}

#section-1 h2 {
  color:black;
}

#section-1 p:last-child {
  color:rgb(111, 111, 111); 
}

/* /SECTION 1 */

