.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
  min-height: 100px;
}

.dbg-xl {
  background-color: rgba(95, 158, 160, .4);
  border:1px solid black;
  min-height: 500px;
}

.w-90-container {
  width: 90%;
  margin: 0 auto;
}

.rb-w59 {
  width: 50%;
}

.rb-w100 {
  width: 100%;
}


.w-60-container {
  width: 60%;
  margin: 0 auto;
}

/* right side header custom */
.rb-no-style {
  list-style: none;
  text-decoration: none;
}

.rb-no-style .nav-link {
  color:black;
}

.rb-no-style .nav-link:hover {
  color:black;
}

.rb-no-style img {
  width: 30px;
}

/* /right side header custom */

