.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
  min-height: 100px;
}

.dbg-xl {
  background-color: rgba(95, 158, 160, .4);
  border:1px solid black;
  min-height: 500px;
}

.w-90-container {
  width: 90%;
  margin: 0 auto;
}

.rb-w50 {
  width: 50%;
}

.rb-w100 {
  width: 100%;
}


.w-60-container {
  width: 60%;
  margin: 0 auto;
}

.rb-btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 1.25rem;
  padding: 7px 10px;
}







