.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
  min-height: 100px;
}

.dbg-xl {
  background-color: rgba(95, 158, 160, .4);
  border:1px solid black;
  min-height: 500px;
}

.w-90-container {
  width: 90%;
  margin: 0 auto;
}

.rb-w50 {
  width: 50%;
}

.rb-w100 {
  width: 100%;
}


.w-60-container {
  width: 60%;
  margin: 0 auto;
}

.rb-btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 1.25rem;
  padding: 7px 10px;
}

.rb-btn.red:hover {
  box-shadow: 0 0 0 2px rgb(205, 61, 15),
  inset 0 0 0 2px black;
}


.rb-btn.blu:hover {
  box-shadow: 0 0 0 2px rgb(45, 100, 230),
  inset 0 0 0 2px white;
}


.rb-btn.explore-now:hover {
  box-shadow: 0 0 0 2px white,
  inset 0 0 0 2px rgb(22, 28, 59);
}




